<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlugMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7B6B4D75E5DAED2BBE84E2F537CC46030C90C514</string>
				<key>dateExpires</key>
				<string>08/12/2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7B6B4D75E5DAED2BBE84E2F537CC46030C90C514</string>
						<key>dateExpires</key>
						<string>08/12/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DZVNACPGLK</string>
						<key>name</key>
						<string>Fleek LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DZVNACPGLK.PlugMobile-test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DZVNACPGLK</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>DZVNACPGLK.PlugMobile-test</string>
				</array>
			</dict>
			<key>name</key>
			<string>PlugMobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5d4f4639-198a-4a78-abb7-a8f1a5bba897</string>
				<key>dateExpires</key>
				<string>08/12/2022</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DZVNACPGLK</string>
				<key>name</key>
				<string>Fleek LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
